<div class="container">
  <div class="page-title-container">
    <h1><i>
        <img src="https://i.imgur.com/15n8vkf.png" style = "max-width: 2.5%;">
        Welcome to Bet First Search
        <img src="https://i.imgur.com/15n8vkf.png" style = "max-width: 2.5%;">
    </i></h1>
  </div>
  <div class="websites-container">
      <div class="websites-label">
          <label style="font-size: 18px;"><u>Websites:</u></label>
          <div class="website-button-container button-container">
              <div class="website-button button" [ngClass]="{'button-selected':website.isSelected}" *ngFor="let website of websites; let i = index" (click)="toggleWebsite(i)">
                  {{website.label}}
              </div>
          </div>
      </div>
  </div>
  <div class="search-name-input">
      <div class="search-team-label">
          <input [(ngModel)]="searchInput"  placeholder="Team Name">
      </div>
  </div>
  <div class="selections">
      <div class="selections-label">
          <u>Selections:</u>
      </div>
      <div class="selection-button-container button-container">
        <div class="selection-button button" [ngClass]="{'button-selected':selection.isSelected}" *ngFor="let selection of selections; let i = index" (click)="toggleSelection(i)">
            {{selection.label}}
        </div>
      </div>
  </div>
  <div class="odds">
      <div class="odds-over">
          <input [(ngModel)]="oddsBottomLimit" type="number"  placeholder="Odds Over"/>
      </div>

      <div class="odds-under" style="margin-top:0.5%;">
          <input [(ngModel)]="oddsUpperLimit" placeholder="Odds Under" type="number" />
      </div>
  </div>
  <div class="search-button-container button-container">
      <div class="button" (click)="search()">Search</div>
  </div>
  <div class="result-table" style="vertical-align: bottom;">
      <table align="center" matSort (matSortChange)="sortData($event)">
          <tr class = "table-headers">
              <th mat-sort-header="time">Time</th>
              <th mat-sort-header="match">Match</th>
              <th mat-sort-header="1">1</th>
              <th mat-sort-header="X">X</th>
              <th mat-sort-header="2">2</th>
              <th mat-sort-header="site">Site</th>
          </tr>

          <tr *ngFor="let match of sortedResultData; let i = index" [ngClass]="[i%2==0?'even':'odd']">
              <td>{{match.time}}</td>
              <td>{{formatMatchName(match)}}</td>
              <td *ngFor="let selection of match.selections">
                  {{selection.value}}
              </td>
              <td>{{match.website}}</td>
          </tr>
      </table>
  </div>
</div>