/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url(https://i.imgur.com/AKsWw2G.jpg);
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-position: left top;}
